@charset "utf-8";

@font-face {
    /* NOTOSAN 100*/
    font-family: NotoSan;
    font-style: nomal;
    font-weight: 100;
    src: url(../fonts/noto_thin.woff) format("woff"),
        url(../fonts/noto_thin.ttf) format("truetype");
}
@font-face {
    /* NOTOSAN 100*/
    font-family: NotoSan;
    font-style: nomal;
    font-weight: 200;
    src: url(../fonts/noto_light.woff) format("woff"),
        url(../fonts/noto_light.ttf) format("truetype");
}

@font-face {
    /* NOTOSAN 300*/
    font-family: NotoSan;
    font-style: nomal;
    font-weight: 300;
    src: url(../fonts/noto_nomal.woff) format("woff"),
        url(../fonts/noto_nomal.ttf) format("truetype");
}

@font-face {
    /* NOTOSAN 400*/
    font-family: NotoSan;
    font-style: nomal;
    font-weight: 400;
    src: url(../fonts/noto-regular.woff) format("woff"),
        url(../fonts/noto-regular.ttf) format("truetype");
}

@font-face {
    /* NOTOSAN 500*/
    font-family: NotoSan;
    font-style: nomal;
    font-weight: 500;
    src: url(../fonts/noto_medium.woff) format("woff"),
        url(../fonts/noto_mediumr.ttf) format("truetype");
}

@font-face {
    /* NOTOSAN 700*/
    font-family: NotoSan;
    font-style: nomal;
    font-weight: 700;
    src: url(../fonts/noto_bold.woff) format("woff"),
        url(../fonts/noto_bold.ttf) format("truetype");
}

@font-face {
    /* NOTOSAN 900*/
    font-family: NotoSan;
    font-style: nomal;
    font-weight: 900;
    src: url(../fonts/noto_black.woff) format("woff"),
        url(../fonts/noto_black.ttf) format("truetype");
}
