@charset "utf-8";

html,body,section,h1,h2,h3,h4,h5,h6,h7,div,ol,ul,li,a {margin: 0; padding: 0; box-sizing: border-box; font-family: NotoSan; color: #333; letter-spacing: -0.06vw; font-size: 16px;}
html,body {width: 100%; height: 100%;}
body {background-color: #fff;}
li {list-style: none;}
a {display: block; text-align: center; text-decoration: none; font-family: NotoSan; color: #333;}
span {display: block;}
select {outline: none;}


